@import "./base.scss";

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

html, body {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	font-size: 30px;

	&>div {
	}

}
$viewW:750px;
img {
	border: none;
	vertical-align: middle;
	width: 100%;
	height: auto;
}

 

.zmiti-mask {
	@include pos(f);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 1300;
	text-align: right;

	img {
		width: 6rem;
		margin-right: 20px;
	}

}

@-webkit-keyframes scale {
	from {
		-webkit-transform: scale(.96) translateZ(1px);
	}

	to {
		-webkit-transform: scale(1.04) translateZ(1px);
	}

}
@-webkit-keyframes rotate {
	to {
		-webkit-transform: rotate(360deg);
	}

}
.zmiti-play {
	&.active {
		@include animation(2s rotate infinite linear);
	}
}
