@import "../css/base.scss";

.zmiti-share-main-ui {
    z-index: 21119;

    & > .lt-full {
        background: #fff;

        .zmiti-card-name {
            @include pos(a);

            bottom: 35vh;
            z-index: 10;
            height: 70px;
            left: 2.5%;
            line-height: 70px;
            padding: 0 50px; 
            color: #1a2b81;

            //font-weight: bold;
            background: #e9edf1;

            &:before {
                content: '';

                @include pos(a);
                width: 0;
                height: 0;
                border-left: 50px solid transparent;
                border-right: 50px solid transparent;
                border-bottom: 70px solid #e9edf1;
                z-index: -1;
                left: 100%;
                @include transform(translateX(-50%));
            }
        }

        & > .lt-full {
            @include transform(scale(0.95));
            @include transformOrigin(center 30%);
        }
    }

    &.active {
        &:before {
            content: '';

            @include pos(a);

            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.7);
            z-index: 102;
        }
    }

    .zmiti-card-C {
        @include pos(a);

        @include displayBox(vertical);

        -webkit-box-pack: justify;
        -webkit-box-align: start;
        width: 100%;
        height: 35vh;
        left: 0;
        bottom: 0;
        background: #fff;

        & > div {
            margin-left: 2.5%;
            margin-top: 20px;
        }

        .zmiti-share-text {
            margin-left: 0;
            margin-top: 0;
            text-align: center;
            width: 100%;
            color: #1a2b81;
            @include pos(r);
            top: -30px;
        }
        .zmiti-qrcode{
            @include pos(a);
            right: 20px;
            bottom: 20px;
            width: 150px;
            height: 150px;
            img{
                width: 150px;
                height: 150px;
            }
        }
        .zmiti-logo1 {
            z-index: 10;
            height: 120px;

            @include pos(r);

            width: 100%;

            img {
                width: 120px;
            }

            .zmiti-share-poster {
                @include pos(a);

                right: 4.5%;
                top: 0;

                span {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    border: 1px solid #1a2b81;
                    margin: 0 10px;
                }
            }
        }

        .zmiti-date {
            background: #ebebeb;
            width: 100%;
            margin-left: 0;
            text-indent: 2.5%;
            height: 60px;
            line-height: 60px;
            color:#1a2b81;
        }
    }

    .zmiti-share-title {
        @include pos(a);

        width: 300px;
        right: 2vw;
        top: 2vh;

        span {
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #fff;
            font-size: 55px;

            @include pos(a);

            bottom: -10px;
            left: 170px;
        }
    }

    .zmiti-share-point {
        @include pos(a);

        left: 0;
        bottom: 120px;
        width: 100%;
    }

    .zmiti-point-C {
        @include pos(a);

        color: #fff;
        font-size: 24px;

        .zmiti-point {
            @include pos(r);

            margin: 0 auto;
            width: 14px;
            height: 14px;
            background: red;
            margin-bottom: 5px;

            @include br;

            &.yellow {
                background: #f4d01f;

                &:before {
                    border: 2px solid #f4d01f;
                }
            }

            &.red {
                background: red;

                &:before {
                    border: 2px solid red;
                }
            }

            &:before {
                content: '';

                @include pos(a);

                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border: 2px solid red;
                box-sizing: border-box;

                @include transform(scale(1.4));
                @include br;
                @include animation(flash 1s infinite);
            }
        }
    }

    .zmiti-share-btns {
        @include pos(a);
        @include displayBox(horizontal);

        width: 80%;
        left: 10%;
        z-index: 104;
        bottom: 20px;

        & > div:nth-of-type(1) {
            -webkit-box-flex: 2;
        }

        & > div:nth-of-type(2) {
            -webkit-box-flex: 1;
        }
    }

    .zmiti-createimg {
        z-index: 104;

        @include transform(scale(0.8));
        @include transformOrigin(center 30%);

        &.create-enter-active {
            @include transition(0.5s);
        }

        &.create-leave-to,
        &.create-enter {
            width: 750px;
            height: 1000px;

            @include transform(scale(1));

            //@include transform(translateY(400px));
       
        }

        span {
            @include pos(a);

            bottom: 0;
            left: 100%;
            width: 10px;
            color: #fff;
        }
    }
}

@-webkit-keyframes flash {
    to {
        @include transform(scale(1.8));

        opacity: 0;
    }
}
