.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-share-main-ui {
  z-index: 1119;
}

.zmiti-share-main-ui .zmiti-point-C {
  position: absolute;
  color: #fff;
  font-size: 24px;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point {
  position: relative;
  margin: 0 auto;
  width: 14px;
  height: 14px;
  background: red;
  margin-bottom: 5px;
  border-radius: 50%;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point.yellow {
  background: #f4d01f;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point.yellow:before {
  border: 2px solid #f4d01f;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point.red {
  background: red;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point.red:before {
  border: 2px solid red;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px solid red;
  box-sizing: border-box;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  border-radius: 50%;
  -webkit-animation: flash 1s infinite;
  animation: flash 1s infinite;
}

@-webkit-keyframes flash {
  to {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }
}
