@import "../css/base.scss";

.zmiti-share-main-ui {
    z-index: 1119;
    .zmiti-share-point {
        @include pos(a);
        left: 0;
        bottom: 140px;
        width: 100%;
    }
    .zmiti-point-C{
        @include pos(a);
        color:#fff;
        font-size:24px;
        
        .zmiti-point{
            @include pos(r);
            margin: 0 auto;
            width: 14px;
            height: 14px;
            background: red;
            margin-bottom: 5px;
            @include br();

            &.yellow{
                background: #f4d01f;
                &:before{
                     border:2px solid #f4d01f;
                }
            }

            &.red {
                background: red;

                &:before {
                    border: 2px solid red;
                }
            }

            &:before{
                content:'';
                @include pos(a);
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border:2px solid red;
                box-sizing: border-box;
                @include transform(scale(1.4));
                @include br();
                @include animation(flash 1s infinite);
            }
            
        }
    }
}

@-webkit-keyframes flash{
    to{
        @include transform(scale(1.8));
        opacity:0;
    }
}
