.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-share-main-ui {
  z-index: 21119;
}

.zmiti-share-main-ui > .lt-full {
  background: #fff;
}

.zmiti-share-main-ui > .lt-full .zmiti-card-name {
  position: absolute;
  bottom: 35vh;
  z-index: 10;
  height: 70px;
  left: 2.5%;
  line-height: 70px;
  padding: 0 50px;
  color: #1a2b81;
  background: #e9edf1;
}

.zmiti-share-main-ui > .lt-full .zmiti-card-name:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 70px solid #e9edf1;
  z-index: -1;
  left: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.zmiti-share-main-ui > .lt-full > .lt-full {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transform-origin: center 30%;
  transform-origin: center 30%;
}

.zmiti-share-main-ui.active:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 102;
}

.zmiti-share-main-ui .zmiti-card-C {
  position: absolute;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -webkit-box-align: start;
  width: 100%;
  height: 35vh;
  left: 0;
  bottom: 0;
  background: #fff;
}

.zmiti-share-main-ui .zmiti-card-C > div {
  margin-left: 2.5%;
  margin-top: 20px;
}

.zmiti-share-main-ui .zmiti-card-C .zmiti-share-text {
  margin-left: 0;
  margin-top: 0;
  text-align: center;
  width: 100%;
  color: #1a2b81;
  position: relative;
  top: -30px;
}

.zmiti-share-main-ui .zmiti-card-C .zmiti-qrcode {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 150px;
  height: 150px;
}

.zmiti-share-main-ui .zmiti-card-C .zmiti-qrcode img {
  width: 150px;
  height: 150px;
}

.zmiti-share-main-ui .zmiti-card-C .zmiti-logo1 {
  z-index: 10;
  height: 120px;
  position: relative;
  width: 100%;
}

.zmiti-share-main-ui .zmiti-card-C .zmiti-logo1 img {
  width: 120px;
}

.zmiti-share-main-ui .zmiti-card-C .zmiti-logo1 .zmiti-share-poster {
  position: absolute;
  right: 4.5%;
  top: 0;
}

.zmiti-share-main-ui .zmiti-card-C .zmiti-logo1 .zmiti-share-poster span {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #1a2b81;
  margin: 0 10px;
}

.zmiti-share-main-ui .zmiti-card-C .zmiti-date {
  background: #ebebeb;
  width: 100%;
  margin-left: 0;
  text-indent: 2.5%;
  height: 60px;
  line-height: 60px;
  color: #1a2b81;
}

.zmiti-share-main-ui .zmiti-share-title {
  position: absolute;
  width: 300px;
  right: 2vw;
  top: 2vh;
}

.zmiti-share-main-ui .zmiti-share-title span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  font-size: 55px;
  position: absolute;
  bottom: -10px;
  left: 170px;
}

.zmiti-share-main-ui .zmiti-share-point {
  position: absolute;
  left: 0;
  bottom: 120px;
  width: 100%;
}

.zmiti-share-main-ui .zmiti-point-C {
  position: absolute;
  color: #fff;
  font-size: 24px;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point {
  position: relative;
  margin: 0 auto;
  width: 14px;
  height: 14px;
  background: red;
  margin-bottom: 5px;
  border-radius: 50%;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point.yellow {
  background: #f4d01f;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point.yellow:before {
  border: 2px solid #f4d01f;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point.red {
  background: red;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point.red:before {
  border: 2px solid red;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px solid red;
  box-sizing: border-box;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  border-radius: 50%;
  -webkit-animation: flash 1s infinite;
  animation: flash 1s infinite;
}

.zmiti-share-main-ui .zmiti-share-btns {
  position: absolute;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  width: 80%;
  left: 10%;
  z-index: 104;
  bottom: 20px;
}

.zmiti-share-main-ui .zmiti-share-btns > div:nth-of-type(1) {
  -webkit-box-flex: 2;
}

.zmiti-share-main-ui .zmiti-share-btns > div:nth-of-type(2) {
  -webkit-box-flex: 1;
}

.zmiti-share-main-ui .zmiti-createimg {
  z-index: 104;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform-origin: center 30%;
  transform-origin: center 30%;
}

.zmiti-share-main-ui .zmiti-createimg.create-enter-active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.zmiti-share-main-ui .zmiti-createimg.create-leave-to, .zmiti-share-main-ui .zmiti-createimg.create-enter {
  width: 750px;
  height: 1000px;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.zmiti-share-main-ui .zmiti-createimg span {
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 10px;
  color: #fff;
}

@-webkit-keyframes flash {
  to {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }
}
