.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-share-main-ui {
  z-index: 21119;
}

.zmiti-share-main-ui.active:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 102;
}

.zmiti-share-main-ui .zmiti-share-title {
  position: absolute;
  width: 60%;
  left: 20%;
  top: 5vh;
}

.zmiti-share-main-ui .zmiti-share-title span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  font-size: 55px;
  position: absolute;
  bottom: -10px;
  left: 170px;
}

.zmiti-share-main-ui .zmiti-share-point {
  position: absolute;
  left: 0;
  bottom: 120px;
  width: 100%;
}

.zmiti-share-main-ui .zmiti-point-C {
  position: absolute;
  color: #fff;
  font-size: 24px;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point {
  position: relative;
  margin: 0 auto;
  width: 14px;
  height: 14px;
  background: red;
  margin-bottom: 5px;
  border-radius: 50%;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point.yellow {
  background: #f4d01f;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point.yellow:before {
  border: 2px solid #f4d01f;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point.red {
  background: red;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point.red:before {
  border: 2px solid red;
}

.zmiti-share-main-ui .zmiti-point-C .zmiti-point:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px solid red;
  box-sizing: border-box;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  border-radius: 50%;
  -webkit-animation: flash 1s infinite;
  animation: flash 1s infinite;
}

.zmiti-share-main-ui .zmiti-share-btns {
  position: absolute;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  width: 80%;
  left: 10%;
  z-index: 104;
  bottom: 20px;
}

.zmiti-share-main-ui .zmiti-share-btns > div:nth-of-type(1) {
  -webkit-box-flex: 2;
}

.zmiti-share-main-ui .zmiti-share-btns > div:nth-of-type(2) {
  -webkit-box-flex: 1;
}

.zmiti-share-main-ui .zmiti-createimg {
  z-index: 104;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform-origin: center 30%;
  transform-origin: center 30%;
}

.zmiti-share-main-ui .zmiti-createimg.create-enter-active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.zmiti-share-main-ui .zmiti-createimg.create-leave-to, .zmiti-share-main-ui .zmiti-createimg.create-enter {
  width: 750px;
  height: 1000px;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.zmiti-share-main-ui .zmiti-createimg span {
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 10px;
  color: #fff;
}

@-webkit-keyframes flash {
  to {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }
}
