.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-choose-main-ui {
  overflow: hidden;
  width: 750px;
  left: 50% !important;
  margin-left: -375px;
  opacity: 0;
  z-index: -1;
}

.zmiti-choose-main-ui > .lt-full {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
}

.zmiti-choose-main-ui > .zmiti-country-detail > .lt-full.active {
  z-index: 10;
  opacity: 1;
}

.zmiti-choose-main-ui > .zmiti-country-detail > .lt-full.country-enter-active, .zmiti-choose-main-ui > .zmiti-country-detail > .lt-full.country-leave-active {
  -webkit-transition: opacity 2s 0.1s;
  transition: opacity 2s 0.1s;
}

.zmiti-choose-main-ui > .zmiti-country-detail > .lt-full.country-leave-to, .zmiti-choose-main-ui > .zmiti-country-detail > .lt-full.country-enter {
  opacity: 0;
}

.zmiti-choose-main-ui > .zmiti-country-detail .zmiti-country-name {
  left: 50%;
  width: 450px;
  top: 50px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  z-index: 10;
  color: #f3ee04;
}

.zmiti-choose-main-ui > .zmiti-country-detail .zmiti-country-name div {
  text-align: center;
  background: rgba(23, 50, 134, 0.4);
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  top: -30px;
  border-radius: 20px;
  font-size: 40px;
}

.zmiti-choose-main-ui > .zmiti-country-detail .zmiti-country-detail-btns {
  position: absolute;
  bottom: 30px;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  width: 90%;
  left: 3%;
  z-index: 100;
}

.zmiti-choose-main-ui.show {
  opacity: 1;
  z-index: 1010;
}

.zmiti-choose-main-ui .zmiti-choose-top,
.zmiti-choose-main-ui .zmiti-choose-bottom {
  -webkit-box-flex: 1;
  height: 41vh;
}

.zmiti-choose-main-ui .zmiti-go {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -236px;
  z-index: 10;
}

.zmiti-choose-main-ui .zmiti-go-next {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  position: absolute;
  margin-top: 10px;
  width: 80%;
  left: 10%;
  bottom: 30px;
  z-index: 30;
}

.zmiti-choose-main-ui .zmiti-go-next > div:nth-of-type(1) {
  -webkit-box-flex: 2;
}

.zmiti-choose-main-ui .zmiti-go-next > div:nth-of-type(2) {
  -webkit-box-flex: 1;
}

.zmiti-choose-main-ui .zmiti-choose-top {
  position: relative;
  z-index: 123;
  height: 55vh;
}

.zmiti-choose-main-ui .zmiti-choose-top .zmiti-choose-country {
  margin-top: 100px;
  width: 600px;
}

.zmiti-choose-main-ui .zmiti-choose-top .zmiti-choose-country-list {
  width: 600px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 2px;
  box-sizing: border-box;
}

.zmiti-choose-main-ui .zmiti-choose-top .zmiti-choose-country-list ul {
  margin: 10px 0;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.zmiti-choose-main-ui .zmiti-choose-top .zmiti-choose-country-list ul li {
  width: 168px;
  position: relative;
  margin-right: 10px;
}

.zmiti-choose-main-ui .zmiti-choose-top .zmiti-choose-country-list ul li.active {
  color: #f3ee04;
}

.zmiti-choose-main-ui .zmiti-choose-top .zmiti-choose-country-list ul li.active div:nth-of-type(1):before {
  content: '';
  border: 3px solid #f3ee04;
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -50px;
  top: -10px;
  border-radius: 50%;
}

.zmiti-choose-main-ui .zmiti-choose-top .zmiti-choose-country-list ul li div {
  margin: 10px 0;
}

.zmiti-choose-main-ui .zmiti-choose-top .zmiti-choose-country-list ul li div:nth-of-type(1) {
  position: relative;
}

.zmiti-choose-main-ui .zmiti-choose-top .zmiti-choose-country-list ul li img {
  width: 80px;
}

.zmiti-choose-main-ui .zmiti-tip {
  background: rgba(0, 0, 0, 0.7);
  z-index: 1002;
}

.zmiti-choose-main-ui .zmiti-tip img {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 200px;
}

.zmiti-choose-main-ui .zmiti-ticket {
  position: absolute;
  bottom: -5px;
  width: 600px;
  left: 75px;
  color: #fff;
  z-index: 31;
}

.zmiti-choose-main-ui .zmiti-ticket.active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.zmiti-choose-main-ui .zmiti-ticket h3 {
  opacity: .8;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  margin: 20px 0;
}

.zmiti-choose-main-ui .zmiti-ticket > .lt-full > div {
  width: 85%;
  margin: 4px auto;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  text-align: center;
}

.zmiti-choose-main-ui .zmiti-ticket > .lt-full > div.zmiti-ticket-info {
  font-size: 40px;
  margin: 20px auto;
}

.zmiti-choose-main-ui .zmiti-ticket > .lt-full > div.zmiti-ticket-place {
  opacity: .8;
  font-size: 22px;
  margin: 20px auto;
}

.zmiti-choose-main-ui .zmiti-ticket > .lt-full > div.zmiti-ticket-last {
  display: block;
  font-size: 22px;
  opacity: .8;
}

.zmiti-choose-main-ui .zmiti-choose-bottom {
  position: relative;
  width: 100%;
}

.zmiti-choose-main-ui .zmiti-choose-bottom .zmiti-plane1 {
  position: absolute;
  -webkit-transform: translate(740px, -250px);
  transform: translate(740px, -250px);
  -webkit-transition: 6s 2s;
  transition: 6s 2s;
  z-index: 2;
  width: 550px;
  left: 10px;
  bottom: 340px;
}

.zmiti-choose-main-ui .zmiti-choose-bottom .zmiti-plane1.active {
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.zmiti-choose-main-ui .zmiti-zhubo {
  position: absolute;
  z-index: 44;
  bottom: 260px;
  right: 20px;
  width: 120px;
}

.zmiti-choose-main-ui .zmiti-video {
  z-index: 121;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  overflow: hidden;
}

.zmiti-choose-main-ui .zmiti-video .zmiti-video-btns {
  position: absolute;
  z-index: 1001;
  width: 80%;
  left: 10%;
  bottom: 100px;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-user-select: none;
}

.zmiti-choose-main-ui .zmiti-video .zmiti-video-btns img {
  -webkit-user-select: none;
  pointer-events: none;
  -webkit-touch-callout: none;
}

.zmiti-choose-main-ui .zmiti-video .zmiti-video-btns div {
  -webkit-box-flex: 1;
  width: 200px;
}

.zmiti-choose-main-ui .zmiti-video video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  z-index: 200;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.zmiti-choose-main-ui .zmiti-project {
  position: absolute;
  width: 350px;
  color: #fff;
  height: 70px;
  z-index: 12;
  bottom: 150px;
  right: 0px;
  line-height: 70px;
  background: -webkit-linear-gradient(left, #0191dd, #1d3290);
  background: #0191dd;
}

.zmiti-choose-main-ui .zmiti-project span {
  color: #f3ee04;
  margin-right: 20px;
  display: inline-block;
}

.zmiti-choose-main-ui .zmiti-project:before, .zmiti-choose-main-ui .zmiti-project:after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 70px;
  border-radius: 0 0 0 100%;
  background: #0191dd;
  left: -69px;
}

.zmiti-choose-main-ui .zmiti-broadcast {
  position: absolute;
  width: 420px;
  height: 80px;
  z-index: 120;
  bottom: 220px;
  right: 40px;
  background: -webkit-linear-gradient(left, #0191dd, #1d3290);
}

.zmiti-choose-main-ui .zmiti-broadcast:before, .zmiti-choose-main-ui .zmiti-broadcast:after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 0 0 0 100%;
  background: #0191dd;
  left: -79px;
}

.zmiti-choose-main-ui .zmiti-broadcast:after {
  right: -78px;
  background: #1d3290;
  left: auto;
  border-radius: 0 100% 0 0;
}

.zmiti-choose-main-ui .zmiti-broadcast .zmiti-xiaomeng {
  position: absolute;
  width: 80px;
  right: 0px;
}

.zmiti-choose-main-ui .zmiti-broadcast .zmiti-broadcast-content {
  color: #fff;
  line-height: 80px;
  overflow: hidden;
  width: 350px;
  position: absolute;
  z-index: 12;
  font-size: 34px;
  left: -20px;
  height: 100%;
}

.zmiti-choose-main-ui .zmiti-broadcast .zmiti-broadcast-content span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  /* white-space:nowrap;
                -webkit-white-space:nowrap; */
}

@-webkit-keyframes wordsMove {
  0% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    left: -3000px;
  }
}
