@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$color: #ca141f;

.zmiti-choose-main-ui {
    overflow: hidden;
    width: 750px;
    left: 50% !important;
    margin-left: -$viewW / 2;
    opacity: 0;
    z-index: -1;

    & > .lt-full {
        @include displayBox(vertical);
	}
	
	&>.zmiti-country-detail{
		.zmiti-country-name{
			left: 50%;
			width: 450px;
			top: 50px;
			@include transform(translateX(-50%));
			@include pos(a);
			z-index: 10;
			color:#f3ee04;
			div{
				text-align: center;
				background:rgba(23,50,134,.4);
				width: 90%;
				margin: 0 auto;
				padding: 20px 0;
				@include pos(r);
				top: -30px;
				@include br(20px);
				font-size:40px;
			}
		}
		.zmiti-country-detail-btns{
			@include pos(a);
			bottom: 30px;
			@include displayBox(horizontal);
			width: 90%;
			left: 3%;
			
		}
	}

    &.show {
        opacity: 1;
        z-index: 1010;
    }

    .zmiti-choose-top,
    .zmiti-choose-bottom {
        -webkit-box-flex: 1;
        height: 41vh;
    }

    .zmiti-choose-top {
		@include pos(r);
		z-index: 123;

        height: 55vh;

        .zmiti-choose-country {
            margin-top: 100px;
            width: 600px;
        }

        .zmiti-choose-country-list {
            width: 600px;
            overflow: hidden;
            background: rgba(0, 0, 0, 0.3);

            @include br(20px);

            padding: 2px;
            box-sizing: border-box;

            ul {
                margin: 10px 0;

                @include displayBox(horizontal);

                font-size: 24px;
                color: #fff;
                text-align: center;

                li {
                    width: 120px;

                    @include pos(r);

                    &.active {
                        color: #f3ee04;

                        div:nth-of-type(1) {
                            &:before {
                                content: '';
                                border: 3px solid #f3ee04;
                                box-sizing: border-box;

                                @include pos(a);

                                width: 100px;
                                height: 100px;
                                left: 50%;
                                margin-left: -50px;
                                top: -10px;

                                @include br;

                                //	@include transform(scale(1.1));
                           
                            }
                        }
                    }

                    margin-right: 10px;

                    div {
                        margin: 10px 0;

                        &:nth-of-type(1) {
                            @include pos(r);
                        }
                    }

                    img {
                        width: 80px;
                    }
                }
            }
        }

        .zmiti-go {
            @include pos(a);

            bottom: 0;
            left: 50%;
            margin-left: -236px;
		}
		.zmiti-go-next{
			@include displayBox(horizontal);
			@include pos(a);
			margin-top: 10px;;
			&>div{
				&:nth-of-type(1){
					-webkit-box-flex: 2;
				}
				&:nth-of-type(2){
					-webkit-box-flex: 1;
				}
			}
		}
    }

    .zmiti-choose-bottom {
        @include pos(r);

        width: 100%;

        .zmiti-plane1 {
            @include pos(a);
            @include transform(rotate(-8deg));

            z-index: 2;
            width: 550px;
            left: 10px;
        }

        .zmiti-ticket {
            @include pos(a);

            bottom: -5px;
            width: 550px;
            left: 100px;
            color: #fff;
            z-index: 1;

            h3 {
                opacity: .8;
                font-weight: normal;
                font-size: 22px;
                text-align: center;
                margin: 20px 0;
            }

            & > .lt-full > div {
                width: 85%;
                margin: 4px auto;

                @include displayBox(horizontal);

                -webkit-box-pack: justify;
                text-align: center;

                &.zmiti-ticket-info {
                    font-size: 44px;
                    margin: 20px auto;
                }

                &.zmiti-ticket-place {
                    opacity: .8;
                    font-size: 22px;
                    margin: 20px auto;
                }

                &.zmiti-ticket-last {
                    display: block;
                    font-size: 22px;
                    opacity: .8;
                }
            }
        }
    }

    .zmiti-broadcast {
        @include pos(a);

        width: 420px;
        height: 80px;
        z-index: 12;
        bottom: 260px;
        right: 40px;
        background: -webkit-linear-gradient(left, #0191dd, #1d3290);

        &:before,
        &:after {
            content: "";

            @include pos(a);

            width: 80px;
            height: 80px;
            border-radius: 0 0 0 100%;
            background: #0191dd;
            left: -79px;
        }

        &:after {
            right: -78px;
            background: #1d3290;
            left: auto;
            border-radius: 0 100% 0 0;
        }

        .zmiti-xiaomeng {
            @include pos(a);

            width: 80px;
            right: 0px;
        }

        .zmiti-broadcast-content {
            color: #fff;
            line-height: 80px;

            @include pos(a);

            font-size: 34px;
            left: -20px;
        }
    }
}
